@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --c-dark: #27374d;
  --c-lighter: #373b69;
  --c-light: #9db2bf;
  --c-bg: #dde6ed;
  --c-red: #cc2b52;
  --c-accent: #ffad60;
}

body {
  font-family: "Roboto Mono", monospace, sans-serif;
  background-color: var(--c-bg);
  color: var(--c-dark);
  height: 100vh;
}

.calculator-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 450px;
  height: 500px;
  background-color: var(--c-dark);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5), 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.display-container,
.keys-container {
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.display-container {
  background-color: var(--c-light);
  height: 90px;
}

.display {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
  user-select: none;
}

#display-text,
#typing-indicator {
  font-size: 32px;
  font-weight: 1000;
}

#display-text {
  max-width: 90%;
  overflow: hidden;
}

#typing-indicator {
  animation: blink 1s infinite step-end;
  transition: none;
}

@keyframes blink {
  0% {
    opacity: 100;
  }
  50% {
    opacity: 0;
  }
}

.keys-container {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  background-color: var(--c-lighter);
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}

.key-container {
  background-color: var(--c-light);
  flex: 1 1 calc(410px / 5);
  margin: 10px;
  line-height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.25s;
}

.key-container:hover {
  filter: brightness(1.2);
}

.key-container:active {
  transform: scale(1.05);
}

.key {
  font-size: 24px;
  font-weight: 800;
  user-select: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  text-align: center;
}

.special-key {
  background-color: var(--c-accent);
}

#CLEAR,
#DELETE {
  background-color: var(--c-red);
  color: var(--c-bg);
}
